body {
  background-color: aquamarine;
}

.main {
  color: brown;
  text-decoration: underline;
}

#heading2 {
  color: blue;
  border: 5px solid blue;
  display: inline-block;
  padding: 5px;
  border-radius: 9px;
}
